@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
.wrapper{
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    position: relative;
}
.nav1{
  
    display:flex;
    justify-content: space-between;
    align-items:space-between;
    padding-top:1rem;
}
.container{
    width:1200px;
    margin:0 auto;
}

.img{
    width:80px; 
    /* padding-top:1rem; */
}
.navname{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.navitems{
    display: flex;
    gap:2rem;
    padding:0 4rem;
   
    /* color: black; */
}
.logo-text{
   margin-left :1.2rem;
   font-size: 20px;
}
.navitems div{
    font-size:20px;
    font-weight:500;
    cursor:pointer;
}
a{
    text-decoration: none;
}
.navitems div a{
color: black;;
}
.navitems div:hover{
    transition: all 1s;
    font-weight:bold;
}
.content{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}
.faded-text{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: 0;
    left: 0;
    margin-left: 2%;
    font-weight: bold;
    transition: all 3s;
    }
.leftcontent{
display: flex;
flex-direction:column;
justify-content: center;
gap:2rem;
}
.heading{
    font-size:35px ;
    font-family: ;
    color:#343d68;
    font-weight: 500;

}
.role{
    color:#4e45d5;
    font-weight: 800;
}
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    }
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    

    .button{
        background-color: #e84949;
        padding:0.8rem 2.3rem;
        color:white;
        font-size:25px;
       box-shadow:5px 5px 7px 0px #0000003f;
       position:relative;
       z-index: 1;
    }
    .button::before{
        content:"";
        background-color: black;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        transform:scaleX(0);
        transform-origin: left;
        transition:all 1s;
        z-index: -1;
    
    }
    .button:hover::before{
    transform:scaleX(1);
    }
    .rightcontent{
        position:relative;
    }
    .absolute{
        position:absolute;
    }
    .user-image{
        padding:2.5rem;
        filter: grayscale(1);
        transition
    }